{
    "swagger": "2.0",
    "info": {
        "description": "我是大导演API",
        "title": "BigDirector API",
        "contact": {
            "name": "00LT00",
            "url": "http://blog.zerokirin.online",
            "email": "lightning@zerokirin.online"
        },
        "version": "2.0"
    },
    "host": "api.zerokirin.online",
    "basePath": "/BigDirector",
    "paths": {
        "/user/info": {
            "put": {
                "description": "create or update user information",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "create or update user information",
                "operationId": "set-Info",
                "parameters": [
                    {
                        "description": "用户的openID",
                        "name": "openID",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/database.User"
                        }
                    },
                    {
                        "type": "string",
                        "default": "spppk",
                        "description": "check header",
                        "name": "sign",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/utils.SuccessResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "40001 param error",
                        "schema": {
                            "$ref": "#/definitions/utils.FailureResponse"
                        }
                    },
                    "500": {
                        "description": "service error",
                        "schema": {
                            "$ref": "#/definitions/utils.FailureResponse"
                        }
                    }
                }
            }
        },
        "/user/openID": {
            "get": {
                "description": "get openID from Weixin",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "get openID",
                "operationId": "get-openID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "wx.login()获取的code",
                        "name": "code",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "spppk",
                        "description": "check header",
                        "name": "sign",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "openID",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/utils.SuccessResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "code null",
                        "schema": {
                            "$ref": "#/definitions/utils.FailureResponse"
                        }
                    },
                    "500": {
                        "description": "service error",
                        "schema": {
                            "$ref": "#/definitions/utils.FailureResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "database.User": {
            "type": "object",
            "required": [
                "openID"
            ],
            "properties": {
                "avatar": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "openID": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                }
            }
        },
        "utils.FailureResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string",
                    "example": "50000"
                },
                "msg": {
                    "type": "string",
                    "example": "service error"
                }
            }
        },
        "utils.SuccessResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object"
                },
                "error": {
                    "type": "string",
                    "example": "0"
                },
                "msg": {
                    "type": "string",
                    "example": "success"
                }
            }
        }
    }
}